<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1394">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Subscribe</span>
            <h2 class="cs-title">Subscribe for Newsletter</h2>
            <p class="cs-text">
                Subscribe to our newsletter and stay up-to-date with the latest news, exclusive offers, and exciting updates.
            </p>
            <form class="cs-form" name="Contact Form" method="post">
                <input class="cs-input" type="email" id="cs-email-1394" name="find-us" placeholder="Email Address">
                <button class="cs-button-solid cs-submit" type="submit">Subscribe Now</button>
            </form>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image -->
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/stats.jpg" | resize({width: 640, height: 876}) | avif %}" type="image/avif">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/stats.jpg" | resize({width: 640, height: 876}) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/stats.jpg" | resize({width: 640, height: 876}) | jpeg %}" type="image/jpeg">
        <!--Tablet Image -->
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/stats.jpg" | resize({width: 2046, height: 800}) | avif %}" type="image/avif">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/stats.jpg" | resize({width: 2046, height: 800}) | webp %}" type="image/webp">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/stats.jpg" | resize({width: 2046, height: 800}) | jpeg %}" type="image/jpeg">
        <!--Desktop Image -->
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/stats.jpg" | resize({width: 3840, height: 1112}) | avif %}" type="image/avif">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/stats.jpg" | resize({width: 3840, height: 1112}) | webp %}" type="image/webp">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/stats.jpg" | resize({width: 3840, height: 1112}) | jpeg %}" type="image/jpeg">
        <img src="{% getUrl "/assets/images/stats.jpg" | resize({width: 3840, height: 1112}) | jpeg %}" alt="massage school" width="1920" height="556" loading="lazy" decoding="async" aria-hidden="true">
    </picture>
</section>
                                