<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer-1527">
    <div class="cs-container">
        <div class="cs-top">
            <div class="cs-logo-group">
                <a href="/" class="cs-logo" aria-label="back to home">
                    <img src="/assets/svgs/logo.svg" alt="logo" loading="lazy" decoding="async" width="200" height="32" aria-hidden="true">
                </a>
                
                <div class="cs-social">
                    <!--Get more icons at flaticon.com and download the svg-->
                    <a href="https://www.facebook.com/profile.php?id=100057058796223" target="blank" rel="noopener"  class="cs-social-link" aria-label="visit facebook">
                        <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m11.476 8.885.414-2.73H9.297v-1.77c0-.748.361-1.476 1.523-1.476H12V.584S10.93.4 9.907.4C7.77.4 6.374 1.708 6.374 4.075v2.08H4v2.73h2.374v6.6a9.309 9.309 0 0 0 2.923 0v-6.6h2.179Z" fill="#fff"/></svg>
                    </a>
                    <a href="https://www.youtube.com/@KruKarnUk" target="blank" rel="noopener"  class="cs-social-link" aria-label="visit youtube">
                        <svg width="800" height="800" viewBox="0 -3 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M7.988 9.586V3.974c1.993.938 3.536 1.843 5.36 2.82-1.505.834-3.367 1.77-5.36 2.792m11.103-8.403c-.344-.453-.93-.805-1.553-.922-1.833-.348-13.267-.349-15.099 0-.5.094-.945.32-1.328.673C-.5 2.429.005 10.452.393 11.75c.164.562.375.968.64 1.235.343.352.812.594 1.351.703 1.51.312 9.284.486 15.122.047a2.62 2.62 0 0 0 1.39-.712c1.49-1.49 1.388-9.962.195-11.841" fill="#fff" fill-rule="evenodd"/></svg>
                    </a>
                     <a class="cs-social-link" aria-label="visit tiktok profile" href="https://www.tiktok.com/@krukarnuk" target="blank" rel="noopener" >
                        <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/tik-tok.svg" alt="twitter" width="14" height="14">
                    </a>
                     <a class="cs-social-link" aria-label="message on whatsapp" href="https://wa.me/+447961915544" target="blank" rel="noopener" >
                        <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/whatsapp.svg" alt="twitter" width="18" height="18">
                    </a>
                </div>
            </div>
            <div class="cs-contact-group">
                <span class="cs-header">Information</span>
                <div class="cs-contact-info">
                    <ul class="cs-ul cs-ul-1">
                        <li class="cs-li">
                            <a class="cs-link" href="/">Home</a>
                        </li>
                        <li class="cs-li">
                            <a class="cs-link" href="/about/">About Us</a>
                        </li>
                        <li class="cs-li">
                            <a class="cs-link" href="/testimonials/">Testimonials</a>
                        </li>
                        <li class="cs-li">
                            <a class="cs-link" href="/contact/">Contact Us</a>
                        </li>
                         <li class="cs-li">
                            <a class="cs-link" href="https://courses.krukarn.co.uk/login" target="blank" rel="noopener">Log In</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cs-gallery-group">
                <span class="cs-header">Accredited</span>
                <div class="cs-gallery">
                    <picture class="cs-picture">
                        <img class="cs-img" src="/assets/svgs/ga.svg" alt="picture" width="102" height="102" loading="lazy" decoding="async">
                    </picture>
                    <picture class="cs-picture">
                        <img class="cs-img" src="/assets/svgs/vtct.svg" alt="picture" width="102" height="102" loading="lazy" decoding="async">
                    </picture>
                    <picture class="cs-picture">
                        <img class="cs-img" src="/assets/svgs/fami.svg" alt="picture" width="102" height="102" loading="lazy" decoding="async">
                    </picture>
                </div>
            </div>
        </div>
        <div class="cs-bottom">
            <span class="cs-credit">
                 Hand Coded by <a href="https://splendidsites.com/" class="cs-credit-link">Splendid Sites</a> © 2025
            </span>
        </div>
    </div>
</footer>
                                