/*-- -------------------------- -->
<---         Benefits           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1175 {
        padding: var(--sectionPadding);

        .cs-container {
            max-width: (550/16rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* set text align to left if content needs to be left aligned */
            text-align: center;
        }

        .cs-title {
            /* max width of 22 characters, includes spaces between words */
            max-width: 39ch;
        }

        .cs-text {
            max-width: (1064/16rem);
        }

        .cs-card-group {
            width: 100%;
            margin: 0 auto;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            max-width: (350/16rem);
            width: 100%;
            margin: 0 auto;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            padding: (24/16rem);
            padding-bottom: (32/16rem);
            background-color: #f7f7f7;
            border-radius: (24/16rem);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            z-index: 1;
            transition:
                box-shadow 0.3s,
                border-color 0.3s;
            text-align: center;
            grid-column: span 12;
            grid-row: span 1;

            &:hover {
                .cs-h3,
                .cs-link {
                    color: var(--secondary);
                }

                .cs-arrow {
                    filter: initial;
                }
            }
        }

        .cs-picture {
            width: (100/16rem);
            height: auto;
            margin: (8/16rem) 0 (24/16rem) 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-icon {
            width: (72/16rem);
            height: auto;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: bold;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
            text-align: inherit;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            max-width: (450/16rem);
            margin: 0;
            margin-bottom: (20/16rem);
            padding: 0;
            color: var(--bodyTextColor);
        }

        .cs-link {
            font-size: (16 / 16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin-top: auto;
            color: var(--headerColor);
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            transition: color 0.3s;
            text-align: inherit;

            &:hover {
                .cs-arrow {
                    transform: translateX(0.25rem);
                }
            }
        }

        .cs-arrow {
            width: (20 / 16rem);
            height: auto;
            display: block;
            filter: grayscale(1) brightness(0);
            transition:
                filter 0.3s,
                transform 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1175 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            max-width: (464/16rem);
            grid-column: span 6;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-1175 {
        .cs-item {
            grid-column: span 3;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-1175 {
            .cs-item {
                background-color: var(--medium);
                border-color: rgba(255, 255, 255, 0.2);

                &:hover {
                    .cs-h3 {
                        color: var(--secondary);
                    }
                }
            }

            .cs-topper {
                color: var(--secondary);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text,
            .cs-link {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-icon {
                /* turns it white */
                filter: grayscale(1) brightness(1000%);
            }
        }
    }
}

/*-- -------------------------- -->
<---       Why choose us        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1443 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-card-group {
            width: 100%;
            max-width: (630/16rem);
            margin: 0 0 (32/16rem) 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: (24/16rem);
        }
    

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
        }

        .cs-picture {
            width: 100%;
            max-width: (650/16rem);
            min-height: (362/16rem);
            border-radius: (24/16rem);
            /* clips img tag corners */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1443 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            position: relative;
        }

        .cs-content {
            width: 50%;
            padding: (40/16rem) 0;
        }

        .cs-picture {
            height: auto;
            width: 55%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-1443 {
            background-color: rgba(0, 0, 0, 0.2);
            .cs-title,
            .cs-text,
            .cs-li,
            .cs-h3, 
            .cs-li-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-topper {
                color: var(--secondary);
            }
        }
    }
}

/* Mobile - 360px */
/* you can copy and paste these styles into the section CSS where you placed the #list-1336 HTML, or you can place it in your global stylesheet so you can reuse the HTML in any Side By Side section on your site. That way when you make changes to it, it will also change everywhere in the site */
#stats-1336 {
    width: 100%;
    max-width: (630/16rem);
    padding: 0;
    /* 32px - 48px */
    margin: clamp(2rem, 5vw, 3rem) 0 0 0;
    /* 32px - 48px */
    padding: clamp(2rem, 5vw, 3rem) 0 0 0;
    border-top: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: (12/16rem);

    .cs-item {
        list-style: none;
        width: 32%;
        /* making flex so we can align a heading with 1 line to the bottom */
        display: flex;
        flex-direction: column;
        align-self: stretch;
        align-content: space-between;
    }

    .cs-number {
        font-size: (25/16rem);
        line-height: 1.2em;
        font-weight: 700;
        text-align: left;
        color: var(--primary);
        display: block;
        margin: 0 0 (8/16rem) 0;
    }

    .cs-h3 {
        font-size: (16/16rem);
        line-height: 1.5em;
        font-weight: 400;
        text-align: left;
        /* auto margin top will push text to bottom if there's only one line */
        margin: 0;
        color: var(--bodyTextColor);
        font-family: poppins;
    }
}

/* Dark Mode, copy and paste only the styles inside the #list-1336 brackets into your section's dark mode media query */
body.dark-mode {
    #stats-1336 {
        .cs-number,
        .cs-h3 {
            color: var(--bodyTextColorWhite);
        }

        .cs-h3 {
            opacity: 0.8;
        }
    }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-877 {
        padding: var(--sectionPadding);
       

        .cs-container {
            width: 100%;
            /* changes to 1280px at Tablet */
            max-width: (784/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            /* max width of 22 characters, includes spaces between words */
            max-width: 39ch;
        }

        .cs-text {
            max-width: (1064/16rem);
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: (20/16rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
            max-width: (500/16rem);
            border-radius: (16/16rem);
            background-color: #fff;
            overflow: hidden;
            grid-column: span 3;
            position: relative;
            z-index: 1;
            transition:
                box-shadow 0.3s,
                transform 0.3s;

            &:hover {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                transform: translateY(-0.4375rem);
                .cs-picture {
                    img {
                        opacity: 0.3;
                        transform: scale(1.1);
                    }
                }
                .cs-h3 {
                    color: var(--secondary);
                }
            }

            &:before {
                /* border, done in pseudo so it can sit under the picture */
                content: "";
                width: 100%;
                height: 100%;
                border-radius: (16/16rem);
                border: 1px solid #e8e8e8;
                /* prevents border from affecting height and width */
                box-sizing: border-box;
                background: transparent;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-link {
            text-decoration: none;
            padding: 0 0 (20/16rem) 0;
            display: block;
        }

        .cs-picture {
            width: 100%;
            height: (200/16rem);
            margin-bottom: (20/16rem);
            background-color: var(--secondary);
            /* clips the img tag corners */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 10;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition:
                    transform 0.6s,
                    opacity 0.3s;
            }
        }

        .cs-h3 {
            font-size: (20/16rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            color: var(--headerColor);
            margin: 0 0 (12/16rem) 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px  */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-align: inherit;
            line-height: 1.5em;
            color: var(--bodyTextColor);
            margin: 0;
            padding: 0 (20/16rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-877 {
        .cs-container {
            max-width: (1280/16rem);
        }
        .cs-item {
            grid-column: span 1;
            max-width: (462/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-877 {
            .cs-topper {
                color: var(--secondary);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-item {
                background-color: var(--medium);
                &:before {
                    opacity: 0.3;
                }
            }
        }
    }
}





/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-1582 {
        padding: var(--sectionPadding);
        background-color: #F7F7F7;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at talet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 5vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            width: 100%;
            text-align: left;
            list-style: none;
            /* 20px - 32px */
            padding: clamp(1.25rem, 2.3vw, 2rem);
            background-color: #fff;
            border-radius: (24/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            grid-column: span 12;
            position: relative;
            z-index: 1;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #faq-1582 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #faq-1582 {
            background-color: rgba(0, 0, 0, 0.2);
            .cs-title,
            .cs-h3 {
                color: var(--bodyTextColorWhite);
            }
            .cs-item {
                background-color: var(--medium);
            }
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-topper {
                color: var(--secondary);
            }
        }
    }
}
                                


/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1396 {
        /* centers the button */
        text-align: center;
        padding: var(--sectionPadding);
        /* clips the orbs from causing overflow issues */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1024px at tablet */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
            margin: 0;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.15rem);
        }

        .cs-item {
            list-style: none;
            text-align: left;
            /* 20px - 60px */
            padding: clamp(1rem, 4vw, 3.75rem);
            /* 12px - 24px */
            border-radius: clamp(0.75rem, 1.5vw, 1.25rem);
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            /* clips the pseudo box from overflowing */
            overflow: hidden;
            display: flex;
            grid-column: span 12;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            z-index: 1;
            background-color: #F7F7F7;

            &:before {
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: 0.05;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
                /* prevents the mouse from interacting it */
                pointer-events: none;
            }
        }

        .cs-quote {
            /* 72px - 120px */
            width: clamp(4.5rem, 10vw, 7.5rem);
            height: auto;
            /* 32px - 64px */
            margin-bottom: clamp(2rem, 6vw, 4rem);
            display: block;
        }

        .cs-item-text {
            /* 16px - 25px */
            font-size: clamp(1rem, 2.6vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: bold;
            margin: 0;
            /* 24px - 64px */
            margin-bottom: clamp(1.5rem, 6vw, 4rem);
            color: var(--bodyTextColor);
        }

        .cs-flex-group {
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            /* 8px - 24px */
            gap: clamp(0.8rem, 1.5vw, 1rem);
        }

        .cs-profile {
            /* 40px - 52px */
            width: clamp(2.5rem, 5vw, 3.25rem);
            height: clamp(2.5rem, 5vw, 3.25rem);
            margin: 0;
            border-radius: 50%;
            box-sizing: border-box;
            border: 2px solid #fff;
            /* clips image corners to make circle */
            overflow: hidden;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            /* 16px - 25px */
            font-size: clamp(1rem, 2.5vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: #746f95;
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-1396 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 4;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-1396 {
            .cs-title {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background-color: var(--medium);
            }

            .cs-topper {
                color: var(--secondary);
            }

            .cs-quote {
                opacity: 0.5;
            }

            .cs-item-text,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: 0.7;
            }
        }
    }
}


                                
                                

                                                                

                                

                                











