---
title: 'Massage Courses | Kru Karn Academy | Gillingham, Kent'
description: "Professional massage training in-person and online. Start your career or expand your practice with expert instruction from Thai teacher Kru Karn."
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/hero-1.png" | resize({width: 1242, height: 1690}) | avif %}">

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1352">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Professional Massage Training, Online & In-Person Learning</h1>
            <p class="cs-text">
                Start your massage career or enhance your existing practice with expert training from Thai teacher Kru Karn.
            </p>
            <a href="" class="cs-button-solid">Free Consultation</a>
        </div>
       <picture class="cs-picture">
          <!--Mobile Image -->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero-1.png" | resize({width: 576, height: 786}) | avif %}" type="image/avif">
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero-1.png" | resize({width: 576, height: 786}) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero-1.png" | resize({width: 576, height: 786}) | jpeg %}" type="image/jpeg">
          <!--Tablet Image -->
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hero-1.png" | resize({width: 1242, height: 1690}) | avif %}" type="image/avif">
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hero-1.png" | resize({width: 1242, height: 1690}) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hero-1.png" | resize({width: 1242, height: 1690}) | jpeg %}" type="image/jpeg">
          <!--Desktop Image -->
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hero-1.png" | resize({width: 1242, height: 1690}) | avif %}" type="image/avif">
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hero-1.png" | resize({width: 1242, height: 1690}) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hero-1.png" | resize({width: 1242, height: 1690}) | jpeg %}" type="image/jpeg">
          <img src="{% getUrl "/assets/images/hero-1.png" | resize({width: 1242, height: 1690}) | jpeg %}" alt="kru karn" width="468" height="658" decoding="async" aria-hidden="true">
      </picture>
    </div>
    <!--Bubble Groups-->
    <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
    <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
    <!-- Background Image, background image added in the css at 1600px for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/abstract-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/abstract.webp">
        <img decoding="async" src="/assets/images/abstract.jpg" alt="abstract background" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>


<!-- ============================================ -->
<!--                  Benefits                    -->
<!-- ============================================ -->

<section id="services-1175">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our services</span>
            <h2 class="cs-title">Transform Your Future, Start a Career That Rewards</h2>
            <p class="cs-text">
                Join the thriving wellness industry and build a business that rewards both financially and personally.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="/assets/svgs/profit.svg" alt="icon"
                        width="48" height="48" />
                </picture>
                <h3 class="cs-h3">Earn More</h3>
                <p class="cs-item-text">
                    Build a profitable practice setting your own rates. Massage therapy provides high earning potential in the growing wellness sector.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="/assets/svgs/flexi-time.svg" alt="icon" width="48"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Flexible Hours</h3>
                <p class="cs-item-text">
                    Create your ideal schedule working from home, mobile, or your own space. Balance work with life while building a sustainable business.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="/assets/svgs/pie-chart.svg" alt="icon" width="48"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Growing Market</h3>
                <p class="cs-item-text">
                    Join an expanding industry with rising demand, especially from older clients seeking natural wellness solutions and stress relief.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="/assets/svgs/low-cost.svg" alt="icon" width="48"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Start Easily</h3>
                <p class="cs-item-text">
                    Begin your business with minimal investment. Start mobile or home-based, expanding as your client base grows.
                </p>
            </li>
        </ul>
         <a href="" class="cs-button-solid">Free Consultation</a>
    </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1443">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/why-us.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/why-us.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/why-us.jpg" alt="volunteers" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Why Us</span>
            <h2 class="cs-title">Why Choose Our Training?</h2>
            <p class="cs-text">
                Master professional massage techniques through our comprehensive online learning platform, featuring detailed video instruction and lifetime access to course materials. Learn at your own pace while building a foundation for your massage career.
            </p>
             <p class="cs-text">
                Each course combines clear technique demonstrations with business insights, delivered through high-quality video lessons. Whether starting your journey or expanding your skills, you'll have ongoing access to professional training materials whenever you need them.
            </p>
             <p class="cs-text">
                For those seeking hands-on experience, we offer premium in-person classes limited to two students, ensuring focused attention. All students receive complimentary lifetime access to our online courses, creating the perfect blend of practical and digital learning.
            </p>
            <a href="" class="cs-button-solid">Talk To Us</a> 
            <ul id="stats-1336" class="cs-ul">
                <li class="cs-item">
                    <span class="cs-number">24/7</span>
                    <h3 class="cs-h3">online learning platform</h3>
                </li>
                <li class="cs-item">
                    <span class="cs-number">100%</span>
                    <h3 class="cs-h3">lifetime access to online materials</h3>
                </li>
                <li class="cs-item">
                    <span class="cs-number">200+</span>
                    <h3 class="cs-h3">successful graduates</h3>
                </li>
            </ul>
        </div>
    </div>
</section>
                  
<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-877">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Services</span>
            <h2 class="cs-title">Our Professional Massage Courses</h2>
            <p class="cs-text">
                Each course includes lifetime access to online training materials. Join in-person for hands-on guidance or learn at your own pace through our extensive online platform.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/thai-massage/" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/thai.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/thai.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/thai.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/thai.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/thai.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/thai.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/thai.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/thai.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/thai.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/thai.jpg" | resize({width: 828, height: 400}) | jpeg %}" alt="VTCT thai massage course" width="305" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">VTCT Thai Massage Level 3</h3>
                    <p class="cs-item-text">
                        Secure your professional certification. Master authentic Thai techniques and business compliance for a licensed UK practice.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/deep-tissue/" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 828, height: 400}) | jpeg %}" alt="Deep Tissue Massage Course" width="305" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Deep Tissue Thai Oil Course</h3>
                    <p class="cs-item-text">
                        Add powerful deep tissue skills to your practice. Master tension release techniques with Thai oil massage, opening new premium service options.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/facial-massage/" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/facial.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/facial.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/facial.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/facial.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/facial.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/facial.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/facial.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/facial.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/facial.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/facial.jpg" | resize({width: 828, height: 400}) | jpeg %}" alt="facial therapy course" width="305" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Facial Massage Course</h3>
                    <p class="cs-item-text">
                        Launch sought-after facial treatments. Learn anti-aging techniques, pressure points, and lymphatic drainage for visible results.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/hot-stone/" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/hot-stone.jpg" | resize({width: 828, height: 400}) | jpeg %}" alt="hot stone course" width="305" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Hot Stone Massage Course</h3>
                    <p class="cs-item-text">
                        Expand your services with relaxing hot stone treatments. Perfect stone placement and temperature control for deep muscle relief.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/lymphatic/" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/lymphatic.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/lymphatic.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/lymphatic.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/lymphatic.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/lymphatic.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/lymphatic.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/lymphatic.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/lymphatic.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/lymphatic.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/lymphatic.jpg" | resize({width: 828, height: 400}) | jpeg %}" alt="lymphatic drainage course" width="305" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Lymphatic Drainage Course</h3>
                    <p class="cs-item-text">
                        Offer specialist health-focused treatments. Learn precise techniques to support detoxification and wellbeing.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/swedish/" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/swedish.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/swedish.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/swedish.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/swedish.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/swedish.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/swedish.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/swedish.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/swedish.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/swedish.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/swedish.jpg" | resize({width: 828, height: 400}) | jpeg %}" alt="aromatherapy course" width="305" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Swedish Massage Course</h3>
                    <p class="cs-item-text">
                        Master essential relaxation techniques. Learn flowing movements for full-body treatments that clients love.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/aromatherapy/" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/aromatherapy.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/aromatherapy.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/aromatherapy.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/aromatherapy.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/aromatherapy.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/aromatherapy.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/aromatherapy.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/aromatherapy.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/aromatherapy.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/aromatherapy.jpg" | resize({width: 828, height: 400}) | jpeg %}" alt="aromatherapy course" width="305" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Aromatherapy Course</h3>
                    <p class="cs-item-text">
                        Create bespoke wellness experiences. Master essential oil blending and application for transformative treatments.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                      FAQ                     -->
<!-- ============================================ -->

<section id="faq-1582">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">FAQ</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">1. Do I need prior experience?</h3>
                    <p class="cs-item-text">
                       No prior experience needed. Our courses suit both beginners and experienced therapists looking to expand their services.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">2. What qualifications do I need to open a massage business in the UK?</h3>
                    <p class="cs-item-text">
                        VTCT Thai Massage Level 3 certification is required for UK council licensing. Requirements vary by country.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">3. Do I need accommodation for training?</h3>
                    <p class="cs-item-text">
                        The VTCT course is 2 days, while other courses are 1 day. A Premier Inn is nearby, or accommodation at Kru Karn's home may be available.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">4. Can you provide training at my business location?</h3>
                    <p class="cs-item-text">
                        Yes, for groups of 4 or more students. Contact us to arrange on-site training.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">5. Are the qualifications internationally recognised?</h3>
                    <p class="cs-item-text">
                        VTCT certification is accepted on cruise ships and in several countries. Check specific requirements for your destination.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">6. Do you use mannequins for practice?</h3>
                    <p class="cs-item-text">
                        All training is conducted with real people to ensure authentic learning experience.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
                                           
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1396">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Happy Client’s Feedback About Our Service</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/purple-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                <p class="cs-item-text">
                    Kru Karn's expertise and supportive teaching transformed my career. Her generous sharing of knowledge and techniques gave me the skills to succeed. Finding her as a teacher has been invaluable.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/svgs/profile-woman.svg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Nisa Putthason
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/purple-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                <p class="cs-item-text">
                    After Kru Karn's lymphatic drainage class, everything became crystal clear. Now it's one of our most requested services, with regular rebookings. Clients see great results, and I deliver treatments with complete confidence.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/svgs/profile-woman.svg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Natha Jantam
                        <span class="cs-job">Urban Therapy</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="/assets/svgs/purple-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
                <p class="cs-item-text">
                    Learning hot stone massage from Kru Karn gave me excellent techniques and confidence. Her patient, hands-on teaching style is perfect for beginners. Since opening my shop, it's become one of our most popular treatments.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/svgs/profile-woman.svg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Kunyaphatsorn P
                        <span class="cs-job">Sri-chan Thai Massage</span>
                    </span>
                </div>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Free Consultation</a>
    </div>
</section>
                                


{% endblock %}